body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0px;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h1 {
  margin-left: 20px;
}

.draggable {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
}

#draggable {
  top: 135px;
  left: 981px;
}

#draggable:hover {
  z-index: 10;
}

#draggableHeader {
  cursor: move;
  z-index: 10;
  background-color: #dcdddf;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
}

#draggable2 {
  top: 87px;
  left: 49px;
}

#draggable2:hover {
  z-index: 10;
}

#draggable3 {
  top: 271px;
  left: 889px;
}

#draggable3:hover {
  z-index: 10;
}

#draggable4 {
  top: 204px;
  left: 299px;
}

#draggable4:hover {
  z-index: 10;
}

.categoria {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90px;
}

.categoria2 {
  width: 60px;
}

.dot {
  height: 14px;
  width: 14px;
  background-color: #fa6150;
  border-radius: 50%;
  display: inline-block;
}

.yellow {
  background-color: #ffbf30;
}

.green {
  background-color: #29c93d;
}

.fotoJose {
  width: 240px;
  height: 320px;
}

.fotoSpeak {
  width: 360px;
  height: 270px;
}

.tom {
  width: 250px;
  height: 250px;
}

.iconuser {
  width: 20px;
  height: 20px;
}

@media (max-width: 479px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
  }



  #draggable,  #draggable2,  #draggable3,  #draggable4{
    top: auto;
    left: auto;
  }


  .fotoSpeak {
    width: 320px;
  }

  .write {
    width: 327px;
  }

  footer {
    display: none;
  }

  .draggable {
    position: relative;
  }
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: black;
  color: white;
  padding-top: 5px;
  font-size: 18px;
}
