body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#draggable {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
}

#draggable:hover {
  z-index: 10;
}

#draggableHeader {
  cursor: move;
  z-index: 10;
  background-color: #dcdddf;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
}

#draggable2 {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
}

#draggable2:hover {
  z-index: 10;
}

#draggableHeader2 {
  cursor: move;
  z-index: 10;
  background-color: #dcdddf;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
}

#draggable3 {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
}

#draggable3:hover {
  z-index: 10;
}

#draggableHeader3 {
  cursor: move;
  z-index: 10;
  background-color: #dcdddf;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
  font-size: 12px;
}

#draggable4 {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
  }
  
  #draggable4:hover {
    z-index: 10;
  }
  
  #draggableHeader4 {
    cursor: move;
    z-index: 10;
    background-color: #dcdddf;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
  }

.categoria {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90px;
}
.categoria2 {
  width: 60px;
}

.dot {
  height: 14px;
  width: 14px;
  background-color: #fa6150;
  border-radius: 50%;
  display: inline-block;
}
.yellow {
  background-color: #ffbf30;
}
.green {
  background-color: #29c93d;
}

.fotoJose {
  width: 240px;
  height: 320px;
}

.fotoSpeak{
    width: 360px;
    height: 270px;
}
.tom{
  width: 250px;
  height: 250px;
}
.iconuser {
  width: 20px;
  height: 20px;
}
